github:
  username: JavaRaf                         # Your GitHub username (format: string)
  repo: frames                              # The name of the repo where the frames are stored (format: string)

# Season of your anime (format: integer)
season: 1  

# provide an img_fps for each episode, this is used for timestamping and subtitles
# img_fps is the frames per second for the images in the episode (integer | float)
# number_of_frames is the number of frames in the episode (integer | float)
episodes:
  1:
    img_fps: 3.5
    number_of_frames: 5460
    branch: main
    frames_dir: 01
  2:
    img_fps: 3.5
    number_of_frames: 5460
    branch: main
    frames_dir: 02
  3:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 03
  4:
    img_fps: 3.5
    number_of_frames: 5459
    branch: main
    frames_dir: 04
  5:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 05
  6:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 06
  7:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 07
  8:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 08
  9:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 09
  10:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 10
  11:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 11
  12:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 12
   
  13:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 13
  14:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 14
  15:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 15
  16:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 16
  17:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 17
  18:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 18
  19:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 19
  20:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 20
  21:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 21
  22:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 22
  23:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 23
  24:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 24
  25:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 25
  26:
    img_fps: 3.5
    number_of_frames: 5061
    branch: main
    frames_dir: 26
  27:
    img_fps: 3.5
    number_of_frames: 5145
    branch: main
    frames_dir: 27
  28:
    img_fps: 3.5
    number_of_frames: 5121
    branch: main
    frames_dir: 28
  

posting:
  fph: 15                                 # Frames posted per cicle (format: integer)                            
  posting_interval: 2                     # Interval between posts in minutes (recomended: 2 or more)(format: integer)
  posting_subtitles: true                 # true or false (format: boolean)
  multi_language_subtitles: true          # true or false (format: boolean)

  random_crop:                             # Random crop settings
    enabled: true                          # true or false
    min_x: 200                             # Minimum crop width (format: integer)
    min_y: 600                             # Minimum crop height (format: integer)

  # Filters settings
  # Filters que são aplicados as imagens antes de postar no facebook
  # Se enabled for false, o filtro não será aplicado
filters:
  none_filter:                        # No filter applied ( the name of the filter can be 'lambda' in terminal)
    enabled: true
    percent: 0.8

  two_panels:
    enabled: true
    percent: 0.1

  mirror:
    enabled: false
    percent: 0.2

  negative:
    enabled: false
    percent: 0.1

  # warp_in:
  #   enabled: false
  #   percent: 0.5
  
  # warp_out:
  #   enabled: false
  #   percent: 0.5

  brightness_contrast:
    enabled: true
    percent: 0.1



# title message for two panels
# supported variables:
# {season}, {episode1}, {episode2}, {timestamp1}, {timestamp2}, {filter_func}
msg_two_panels: |
  [Random] Frames
   
  Season: {season}, Episodes: ( {episode1}, {episode2} )
  Timestamp: ( {timestamp1}, {timestamp2} )

  .
  .

  Filter: {filter_func}
  
# title message for single frame
# supported variables:
# {season}, {episode}, {frame}, {timestamp}, {filter_func}
msg_single_frame: |
  [Random] Frame
  
  Season: {season}, Episode: {episode}, Frame: {frame}
  Timestamp: {timestamp}

  .
  .

  Filter: {filter_func}
